{{>header }}

    <div class="row indigo darken-1">
		    <h1 class="col s12 center-align white-text">Domain</h1>
    </div>
    <div class="container">

    <div class="row">
		<h2  class="col s12">Types</h2>
    </div>
    <div class="row">
      <div  class="col s12 center-align">
        <object id="graph" data="images/types.svg" style="overflow: scroll; border: 1pt solid #eeeeee;">
        </object>
      </div>
    </div>
    <div class="row">
  		<ul  class="col s12 collection">
  			{{#each types}}
  				<li class="collection-item"><a href="type/{{name}}.html">{{name}}</a></li>
  			{{/each}}
  		</ul>
    </div>
  </div>
</div>
{{>footer}}